<!DOCTYPE html>
<!--
Author: Keenthemes
Product Name: Metronic | Bootstrap HTML, VueJS, React, Angular, Asp.Net Core, Blazor, Django, Flask & Laravel Admin Dashboard Theme
Purchase: https://1.envato.market/EA4JP
Website: http://www.keenthemes.com
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
License: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
<html lang="en">
	<!--begin::Head-->
	<head>
		<base href="../"/>
		<title>Metronic - the world's #1 selling Bootstrap Admin Theme Ecosystem for HTML, Vue, React, Angular & Laravel by Keenthemes</title>
		<meta charset="utf-8" />
		<meta name="description" content="The most advanced Bootstrap Admin Theme on Themeforest trusted by 100,000 beginners and professionals. Multi-demo, Dark Mode, RTL support and complete React, Angular, Vue, Asp.Net Core, Blazor, Django, Flask & Laravel versions. Grab your copy now and get life-time updates for free." />
		<meta name="keywords" content="metronic, bootstrap, bootstrap 5, angular, VueJs, React, Asp.Net Core, Blazor, Django, Flask & Laravel starter kits, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Metronic | Bootstrap HTML, VueJS, React, Angular, Asp.Net Core, Blazor, Django, Flask & Laravel Admin Dashboard Theme" />
		<meta property="og:url" content="https://keenthemes.com/metronic" />
		<meta property="og:site_name" content="Keenthemes | Metronic" />
		<link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
		<link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Vendor Stylesheets(used by this page)-->
		<link href="/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Vendor Stylesheets-->
		<!--begin::Global Stylesheets Bundle(used by all pages)-->
		<link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Stylesheets Bundle-->
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled">
		<!--begin::Theme mode setup on page load-->
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-theme-mode")) { themeMode = document.documentElement.getAttribute("data-theme-mode"); } else { if ( localStorage.getItem("data-theme") !== null ) { themeMode = localStorage.getItem("data-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-theme", themeMode); }</script>
		<!--end::Theme mode setup on page load-->
		<!--begin::Main-->
		<!--begin::Root-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="page d-flex flex-row flex-column-fluid">
				<!--begin::Wrapper-->
				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
					<!--begin::Toolbar-->
					<div class="toolbar py-5 py-lg-5" id="kt_toolbar">
						<!--begin::Container-->
						<div id="kt_toolbar_container" class="container-xxl d-flex flex-stack flex-wrap">
							<!--begin::Page title-->
							<div class="page-title d-flex flex-column me-3">
								<!--begin::Title-->
								<h1 class="d-flex text-dark fw-bold my-1 fs-3">Punto de venta</h1>
								<!--end::Title-->
							</div>
							<!--end::Page title-->
							<!--begin::Actions-->
							<div class="d-flex align-items-center py-2 py-md-1">
							</div>
							<!--end::Actions-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Toolbar-->
					<!--begin::Container-->
					<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
						<!--begin::Post-->
						<div class="content flex-row-fluid" id="kt_content">
							<!--begin::Layout-->
							<div class="d-flex flex-column flex-xl-row">
								<!--begin::Content-->
								<div class="d-flex flex-row-fluid me-xl-9 mb-10 mb-xl-0">
									<!--begin::Pos food-->
									<div class="card card-flush card-p-0 bg-transparent border-0">
										<!--begin::Body-->
										<div class="card-body">
											<!--begin::Tab Content-->
											<div class="tab-content">
												<!--begin::Tap pane-->
												<div class="tab-pane fade show active" id="kt_pos_food_content_1">
													<!--begin::Wrapper-->
													<div class="d-flex flex-wrap d-grid gap-5 gap-xxl-9">
														<!--begin::Card-->
														<div class="card card-flush flex-row-fluid p-6 pb-5 mw-100 bg-hover-light-secondary cursor-pointer add-product-to-order" data-id="1">
															<!--begin::Body-->
															<div class="card-body text-center">
																<!--begin::Food img-->
																<img src="/assets/media/stock/food/img-2.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />
																<!--end::Food img-->
																<!--begin::Info-->
																<div class="mb-2">
																	<!--begin::Title-->
																	<div class="text-center">
																		<span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">T-Bone Stake</span>
																		<span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
																	</div>
																	<!--end::Title-->
																</div>
																<!--end::Info-->
																<!--begin::Total-->
																<span class="text-success text-end fw-bold fs-1">Q16.50</span>
																<!--end::Total-->
															</div>
															<!--end::Body-->
														</div>
														<!--end::Card-->
														<!--begin::Card-->
														<div class="card card-flush flex-row-fluid p-6 pb-5 mw-100 bg-hover-light-secondary cursor-pointer add-product-to-order" data-id="2">
															<!--begin::Body-->
															<div class="card-body text-center">
																<!--begin::Food img-->
																<img src="/assets/media/stock/food/img-7.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />
																<!--end::Food img-->
																<!--begin::Info-->
																<div class="mb-2">
																	<!--begin::Title-->
																	<div class="text-center">
																		<span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Chef’s Salmon</span>
																		<span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
																	</div>
																	<!--end::Title-->
																</div>
																<!--end::Info-->
																<!--begin::Total-->
																<span class="text-success text-end fw-bold fs-1">Q12.40</span>
																<!--end::Total-->
															</div>
															<!--end::Body-->
														</div>
														<!--end::Card-->
														<!--begin::Card-->
														<div class="card card-flush flex-row-fluid p-6 pb-5 mw-100 bg-hover-light-secondary cursor-pointer add-product-to-order" data-id="3">
															<!--begin::Body-->
															<div class="card-body text-center">
																<!--begin::Food img-->
																<img src="/assets/media/stock/food/img-8.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />
																<!--end::Food img-->
																<!--begin::Info-->
																<div class="mb-2">
																	<!--begin::Title-->
																	<div class="text-center">
																		<span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Ramen</span>
																		<span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
																	</div>
																	<!--end::Title-->
																</div>
																<!--end::Info-->
																<!--begin::Total-->
																<span class="text-success text-end fw-bold fs-1">Q14.90</span>
																<!--end::Total-->
															</div>
															<!--end::Body-->
														</div>
														<!--end::Card-->

													</div>
													<!--end::Wrapper-->
												</div>
												<!--end::Tap pane-->
											</div>
											<!--end::Tab Content-->
										</div>
										<!--end: Card Body-->
									</div>
									<!--end::Pos food-->
								</div>
								<!--end::Content-->
								<!--begin::Sidebar-->
								<div class="flex-row-auto w-xl-425px">
									<!--begin::Pos order-->
									<div class="card card-flush bg-body" id="kt_pos_form">
										<!--begin::Header-->
										<div class="card-header pt-5">
											<h3 class="card-title fw-bold text-gray-800 fs-2qx">Orden actual</h3>
											<!--begin::Toolbar-->
											<div class="card-toolbar">
												<button type="button" id="bnt-clear-order" class="btn btn-light-primary fs-4 fw-bold py-4">Limpar Orden</button>
											</div>
											<!--end::Toolbar-->
										</div>
										<!--end::Header-->
										<!--begin::Body-->
										<div class="card-body pt-0">
											<!--begin::Table container-->
											<div class="table-responsive mb-8">
												<!--begin::Table-->
												<table class="table align-middle gs-0 gy-4 my-0">
													<!--begin::Table head-->
													<thead>
														<tr>
															<th class="min-w-175px"></th>
															<th class="w-125px"></th>
															<th class="w-60px"></th>
														</tr>
													</thead>
													<!--end::Table head-->
													<!--begin::Table body-->
													<tbody id="cnt-tbody-order">
														<!--
														<tr data-kt-pos-element="item" data-kt-pos-item-price="7.5">
															<td class="pe-0">
																<div class="d-flex align-items-center">
																	<img src="/assets/media/stock/food/img-9.jpg" class="w-50px h-50px rounded-3 me-3" alt="" />
																	<span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-6 me-1">Soup of the Day</span>
																</div>
															</td>
															<td class="pe-0">
																&lt;!&ndash;begin::Dialer&ndash;&gt;
																<div class="position-relative d-flex align-items-center" data-kt-dialer="true" data-kt-dialer-min="1" data-kt-dialer-max="10" data-kt-dialer-step="1" data-kt-dialer-decimals="0">
																	&lt;!&ndash;begin::Decrease control&ndash;&gt;
																	<button type="button" class="btn btn-icon btn-sm btn-light btn-icon-gray-400" data-kt-dialer-control="decrease">
																		&lt;!&ndash;begin::Svg Icon | path: icons/duotune/arrows/arr089.svg&ndash;&gt;
																		<span class="svg-icon svg-icon-3x">
																			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																				<rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor" />
																			</svg>
																		</span>
																		&lt;!&ndash;end::Svg Icon&ndash;&gt;
																	</button>
																	&lt;!&ndash;end::Decrease control&ndash;&gt;
																	&lt;!&ndash;begin::Input control&ndash;&gt;
																	<input type="text" class="form-control border-0 text-center px-0 fs-3 fw-bold text-gray-800 w-30px" data-kt-dialer-control="input" placeholder="Amount" name="manageBudget" readonly="readonly" value="1" />
																	&lt;!&ndash;end::Input control&ndash;&gt;
																	&lt;!&ndash;begin::Increase control&ndash;&gt;
																	<button type="button" class="btn btn-icon btn-sm btn-light btn-icon-gray-400" data-kt-dialer-control="increase">
																		&lt;!&ndash;begin::Svg Icon | path: icons/duotune/arrows/arr087.svg&ndash;&gt;
																		<span class="svg-icon svg-icon-3x">
																			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																				<rect opacity="0.5" x="11" y="18" width="12" height="2" rx="1" transform="rotate(-90 11 18)" fill="currentColor" />
																				<rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor" />
																			</svg>
																		</span>
																		&lt;!&ndash;end::Svg Icon&ndash;&gt;
																	</button>
																	&lt;!&ndash;end::Increase control&ndash;&gt;
																</div>
																&lt;!&ndash;end::Dialer&ndash;&gt;
															</td>
															<td class="text-end">
																<span class="fw-bold text-primary fs-2" data-kt-pos-element="item-total">Q7.50</span>
															</td>
														</tr>
														<tr data-kt-pos-element="item" data-kt-pos-item-price="13.5">
															<td class="pe-0">
																<div class="d-flex align-items-center">
																	<img src="/assets/media/stock/food/img-3.jpg" class="w-50px h-50px rounded-3 me-3" alt="" />
																	<span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-6 me-1">Pancakes</span>
																</div>
															</td>
															<td class="pe-0">
																&lt;!&ndash;begin::Dialer&ndash;&gt;
																<div class="position-relative d-flex align-items-center" data-kt-dialer="true" data-kt-dialer-min="1" data-kt-dialer-max="10" data-kt-dialer-step="1" data-kt-dialer-decimals="0">
																	&lt;!&ndash;begin::Decrease control&ndash;&gt;
																	<button type="button" class="btn btn-icon btn-sm btn-light btn-icon-gray-400" data-kt-dialer-control="decrease">
																		&lt;!&ndash;begin::Svg Icon | path: icons/duotune/arrows/arr089.svg&ndash;&gt;
																		<span class="svg-icon svg-icon-3x">
																			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																				<rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor" />
																			</svg>
																		</span>
																		&lt;!&ndash;end::Svg Icon&ndash;&gt;
																	</button>
																	&lt;!&ndash;end::Decrease control&ndash;&gt;
																	&lt;!&ndash;begin::Input control&ndash;&gt;
																	<input type="text" class="form-control border-0 text-center px-0 fs-3 fw-bold text-gray-800 w-30px" data-kt-dialer-control="input" placeholder="Amount" name="manageBudget" readonly="readonly" value="2" />
																	&lt;!&ndash;end::Input control&ndash;&gt;
																	&lt;!&ndash;begin::Increase control&ndash;&gt;
																	<button type="button" class="btn btn-icon btn-sm btn-light btn-icon-gray-400" data-kt-dialer-control="increase">
																		&lt;!&ndash;begin::Svg Icon | path: icons/duotune/arrows/arr087.svg&ndash;&gt;
																		<span class="svg-icon svg-icon-3x">
																			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																				<rect opacity="0.5" x="11" y="18" width="12" height="2" rx="1" transform="rotate(-90 11 18)" fill="currentColor" />
																				<rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor" />
																			</svg>
																		</span>
																		&lt;!&ndash;end::Svg Icon&ndash;&gt;
																	</button>
																	&lt;!&ndash;end::Increase control&ndash;&gt;
																</div>
																&lt;!&ndash;end::Dialer&ndash;&gt;
															</td>
															<td class="text-end">
																<span class="fw-bold text-primary fs-2" data-kt-pos-element="item-total">Q27.00</span>
															</td>
														</tr>-->
													</tbody>
													<!--end::Table body-->
												</table>
												<!--end::Table-->
											</div>
											<!--end::Table container-->
											<!--begin::Summary-->
											<div class="d-flex flex-stack bg-success rounded-3 p-6 mb-11">
												<!--begin::Content-->
												<div class="fs-6 fw-bold text-white">
													<span class="d-block lh-1 mb-2">Subtotal</span>
<!--													<span class="d-block mb-2">Discounts</span>-->
<!--													<span class="d-block mb-9">Tax(12%)</span>-->
													<span class="d-block fs-2qx lh-1">Total</span>
												</div>
												<!--end::Content-->
												<!--begin::Content-->
												<div class="fs-6 fw-bold text-white text-end">
													<span class="d-block lh-1 mb-2" data-kt-pos-element="total">Q93.46</span>
<!--													<span class="d-block mb-2" data-kt-pos-element="discount">-Q8.00</span>-->
<!--													<span class="d-block mb-9" data-kt-pos-element="tax">Q11.20</span>-->
													<span class="d-block fs-2qx lh-1" data-kt-pos-element="grant-total">Q93.46</span>
												</div>
												<!--end::Content-->
											</div>
											<!--end::Summary-->
											<!--begin::Payment Method-->
											<div class="m-0">
												<!--begin::Title-->
												<h1 class="fw-bold text-gray-800 mb-5">Método de pago</h1>
												<!--end::Title-->
												<!--begin::Radio group-->
												<div class="d-flex flex-equal gap-5 gap-xxl-9 px-0 mb-12" data-kt-buttons="true" data-kt-buttons-target="[data-kt-button]">
													<!--begin::Radio-->
													<label class="btn bg-light btn-color-gray-600 btn-active-text-gray-800 border border-3 border-gray-100 border-active-primary btn-active-light-primary w-100 px-4 active" data-kt-button="true">
														<!--begin::Input-->
														<input class="btn-check" type="radio" name="method" value="1" />
														<!--end::Input-->
														<!--begin::Icon-->
														<i class="fonticon-cash-payment fs-2hx mb-2 pe-0"></i>
														<!--end::Icon-->
														<!--begin::Title-->
														<span class="fs-7 fw-bold d-block">Card</span>
														<!--end::Title-->
													</label>
													<!--end::Radio-->
												</div>
												<!--end::Radio group-->
												<!--begin::Actions-->
												<button type="button" id="btn-payment-order" class="btn btn-primary fs-1 w-100 py-4">Orden pagada</button>
												<!--end::Actions-->
											</div>
											<!--end::Payment Method-->
										</div>
										<!--end: Card Body-->
									</div>
									<!--end::Pos order-->
								</div>
								<!--end::Sidebar-->
							</div>
							<!--end::Layout-->
						</div>
						<!--end::Post-->
					</div>
					<!--end::Container-->
					<!--begin::Footer-->
					<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
						<!--begin::Container-->
						<div class="container-xxl d-flex flex-column flex-md-row align-items-center justify-content-between">
							<!--begin::Copyright-->
							<div class="text-dark order-2 order-md-1">
								<span class="text-muted fw-semibold me-1">2022&copy;</span>
								<a href="javascript:" class="text-gray-800 text-hover-primary">Grupo 6</a>
							</div>
							<!--end::Copyright-->
							<!--begin::Menu-->
							<ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">

							</ul>
							<!--end::Menu-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Root-->
		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
			<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
			<span class="svg-icon">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
					<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
				</svg>
			</span>
			<!--end::Svg Icon-->
		</div>
		<!--end::Scrolltop-->
		<!--begin::Javascript-->
		<script>var hostUrl = "/assets/";</script>
		<!--begin::Global Javascript Bundle(used by all pages)-->
		<script src="/assets/plugins/global/plugins.bundle.js"></script>
		<script src="/assets/js/scripts.bundle.js"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Vendors Javascript(used by this page)-->
		<script src="/assets/plugins/custom/datatables/datatables.bundle.js"></script>
		<!--end::Vendors Javascript-->
		<!--begin::Custom Javascript(used by this page)-->
		<script src="/assets/js/custom/pages/general/pos.js"></script>
		<script src="/assets/js/widgets.bundle.js"></script>
		<script src="/assets/js/custom/widgets.js"></script>
		<script src="/assets/js/custom/apps/chat/chat.js"></script>
		<script src="/assets/js/custom/utilities/modals/create-app.js"></script>
		<script src="/assets/js/custom/utilities/modals/users-search.js"></script>
		<!--end::Custom Javascript-->

		<!--begin::Custom Diego-->
		<script src="/assets/js/add_products.js"></script>
		<!--end::Custom Diego-->
		<!--end::Javascript-->
	</body>
	<!--end::Body-->
</html>